# Virtual environment
env/
venv/

# Python cache
__pycache__/
*.pyc

# Encryption key (VERY IMPORTANT)
secret.key

# Uploaded & encrypted files
uploads/
encrypted_files/

# OS files
.DS_Store
Thumbs.db
